/* Button to Nowhere */
.button a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 50px;
    /* margin-top: 20px;
    margin-bottom: 20px; */
    transition: 0.1s;
    height: 40px;
    width: 260px;
    background-color: #3D8168;
    border: 1px solid #3D8168;
    color: aliceblue;
    text-decoration: none;
    
}
.button a:hover{
    background-color: #21523E;
    border: 1px solid #21523E;
}
.button a:active{
    background-color: aliceblue;
    border: aliceblue;   
}
