@media (max-width:620px)
{
    .page-container{
        padding: 50px 30px 50px 50px;
        width: 100%;
        height: 100%;
        flex-direction: column;
        
    }
    .page-container > .product-image img{
        
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 80%;
            height: 480px;
            object-fit: cover;
            object-position: 80% 80%;
            border-radius: 10px 10px 2px 2px ;
            
        
    }

    .page-container .hero-wrapper{
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 71%;
            height: 80%;
            border-radius: 2px 2px 10px 10px  ;
            border: 1px solid white;
    }

    .page-container > .hero-wrapper >.product-information{
        padding: 25px;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
        justify-content: center;
        width: 100%;
        height: 100%;
    }
    .page-container > .hero-wrapper > .product-information > .product-pricing{
        transform: translateY(0px);
    }
    .page-container > .hero-wrapper > .button{
        transform: translateY(0px);
    }


}   